<!DOCTYPE html>
<html lang="en" class="mdl-js">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="assets/favicon.ico" rel="icon">
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/styles.css" rel="stylesheet">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<title><%=I18n.t('page_title')%></title>

<body>
  <section id="introduction">
    <div class="container">
      <div class="row fill-viewport align-items-center justify-content-center">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-md-auto">
              <h1 class="text-white title inline-block"><%=I18n.t('title') %></h1>
            </div>
          </div>
          <div class="row">
            <div class="col button">
              <button type="button" class="btn btn-primary" disabled>
                <%=I18n.t('buttons.level')%>:
                <span class="badge badge-light">
                  <%= level %>
                </span>
              </button>
              <button type="button" class="btn btn-primary" disabled>
                <%=I18n.t('buttons.attempts_left')%>:
                <span class="badge badge-light">
                  <%= attempts_total - attempts %>/<%=attempts_total%>
                </span>
              </button>
              <button type="button" class="btn btn-primary" disabled>
                <%=I18n.t('buttons.hints_left')%>:
                <span class="badge badge-light">
                  <%= hints_left %>/<%=hints_total%>
                </span>
              </button>
            </div>
          </div>
          <hr class="mb-4">
          <div class="row">
            <div class="text-center">
              <div class="text-center">
                <h3 class="text-white">
                  <%=I18n.t('oops')%>, <%= player_name %>! <%=I18n.t('lose')%>!
                </h3>
                <h4 class="text-white">
                  <%=I18n.t('code_was')%>
                  <strong><%= @last_result %></strong>
                </h4>
              </div>
              <img src="assets/images/lost.gif" class="img-fluid" alt="You lose the game!">
            </div>
          </div>
          <hr class="mb-4">
          <a class="btn btn-primary btn-lg" href="/" role="button">
            <%=I18n.t('buttons.play_again')%>!
          </a>
          <a class="btn btn-success btn-lg float-right" href="/statistics" role="button">
            <%=I18n.t('buttons.statistics')%>
          </a>
        </div>
       </div>
      </div>
    </section>
  </body>
</html>